{% extends "base.html" %}

{% block title %} О проекте {% endblock %}


{% block content %}

    <div class = "item-about-opportunity1">
        <p class="font-weight-bold"> Делись фотографиями </p>
        <img class = "item-about-picture"
             src = "/static/img/1_about.jpg" alt = "Делись фотографиями">
    </div>

    <div class = "item-about-opportunity2">
        <p class="font-weight-bold"> Оценивай работы других фотографов </p>
        <img class = "item-about-picture"
            src = "/static/img/2_about.jpg" alt = "Оценивай работы">
    </div>

    <div class = "item-about-opportunity3">
      <p class="font-weight-bold"> Давай советы и критикуй </p>
        <img class = "item-about-picture"
             src = "/static/img/3_about.jpg" alt = "Давай советы">
    </div>

    <div class = "item-about-opportunity4">
      <p class="font-weight-bold">  Читай уроки фотографии </p>
        <img class = "item-about-picture" class="img-fluid"
             src = "/static/img/4_about.jpg" alt = "Читай уроки">
    </div>

{% endblock %}
