{% extends "base.html" %}

{% block title %} Комментарий {% endblock %}


{% block content %}

    <form method="POST" action="{% url 'photo:comment_edit' comment_id=comment.id %}" class="comment-form">
        {% csrf_token %}
        <textarea name="text" class="form-control" id="exampleTextarea" rows="3"> {{comment.text}} </textarea>

        <div class="button-under-textarea">
            <input type="submit" class="btn btn-outline-warning btn-sm"  value="Сохранить"/>
        </div>
    </form>

{% endblock %}


